.todo__list{
    text-align: center;
    display: flex;
    align-items: center;
    float: left;
    justify-content: flex-start;
}

.action__buttons{
    display: flex;
    justify-content: space-around;
}